<div class="body">
  <!-- <app-databinding></app-databinding> -->
   <!--<app-tablecard></app-tablecard>-->
   <!--<app-my-modal>
    <img width="300" height="300" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ3DFJVoPCSG9n4VeeCPIIts_Nv9v55NSeaw&s" alt="">
   </app-my-modal> -->
   <!--<app-user-list></app-user-list>-->
   <!--<app-user-list></app-user-list>-->
<!-- <app-subject-demo1></app-subject-demo1> -->
 <!-- <app-subject-employees></app-subject-employees> -->
<!-- <app-signal-demo2></app-signal-demo2> -->
 <!-- <app-signal-assign></app-signal-assign> -->
<app-reg-form></app-reg-form>
</div>