<p>parent-demo works!</p>
<div class="container border border-3 mt-2">
    <div class="row text-center">
        <h3>This is parent</h3>  
        </div>

    <div class="row">
        <div class="col-sm-6 border border-3 mt-2">
            <app-employee-add (addemployee)="addemp($event)"></app-employee-add>
            <!--it will listen child's event addemployee(addemployye is an eventemitter in child)
            The parent method(addemp)-->
        </div>
        <div class="col-sm-6 border border-3 mt-2">
           <app-employee-table [a]="employees" (delemp)="delemp($event)"></app-employee-table>
           <!--employees is parent array, property binding, child input name is a
            passes employees, the parent array to child a
           will listen for delete event from table and when clicked it calls
           the parents delemp($event)-->
        </div>
    </div>
</div>
