<h3 class="text-center">Registration Form with Validation</h3>
<div class="border border-3 rounded-3 p-3 col-sm-6 offset-3">
    <form #regForm="ngForm"> <!--//regForm is the local template refernce variable -->
        <p>
            First Name:
            <input type="text" name="firstName" [(ngModel)]="user.firstName" />
            <!-- //two way binding, reflects back changes in the input, ts file -->
        </p>
        <p>
            Last Name:
            <input type="text" name="lastName" [(ngModel)]="user.lastName"/>
        </p>
        <p>
            Email Id:
            <input type="text" name="email" [(ngModel)]="user.email"/>
        </p>
        <p>
            Gender:
           <label ><input type="radio" name="gender" value="Male" [(ngModel)]="user.gender" required/>Male</label>
            <label><input type="radio" name="gender" value="Female" [(ngModel)]="user.gender" required/>Female</label>
        </p>
        <p>
            Hobbies:
             @for( hobby of hobbiesList;track $index){ <!--//loop through hobbiesList -->
                <input type="checkbox" [value]="hobby" (change)="onHobbyChange($event)"/> 
                <!-- //event triggers method in ts file
                //onHobbyChange adds/removes hobbies user.hobbies -->
                {{hobby}}}   
        </p>
        <p>
            Country:
            <select name="country" [(ngModel)]="user.country" required>
                //2 way binding
                <option value="">Select Country</option>
                @for(c of countries;track $index){
                    <option [value]="c">{{c}}</option>
                }
            </select>
        </p>
        <p>
            Address:
            <textarea name="address" rows="3" [(ngModel)]="user.address" placeholder="Enter your address"></textarea>
        </p>

        <input type="reset" value="Reset" class="mx-2">
        <input type="submit" value="Submit" [disabled]="regForm.invalid">

    </form>

    <pre>{{user|json}}</pre>
</div>
